name: Build Artifacts

on: pull_request

jobs:
  build_artifacts:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        architecture: x64
    - name: Build with Gradle
      env:
        JAVA_OPTS: -Xms512m -Xmx1024m
      run: |
        # Generate compiler-plugin artifact
        ./gradlew :compile-plugin:shadowJar
        #
        # Generate testing-plugin artifact when running compiler-plugin tests
        ./gradlew :compile-plugin:test
        #
        # Run tests from testing-plugin
        ./gradlew :testing-plugin:test
        #
        # Generate idea-plugin artifact
        ./gradlew :idea:idea-plugin:build
        #
        # Check Gradle Plugin build
        ./gradlew :gradle-plugin:build
