name: Build Artifacts

on: pull_request

jobs:
  build_artifacts:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        architecture: x64
    - name: Build with Gradle
      env:
        JAVA_OPTS: -Xms512m -Xmx1024m
      run: |
        ./gradlew clean
        ./gradlew :compiler-plugin:build
        ./gradlew :idea:idea-plugin:build
        ./gradlew :testing-plugin:build
        # 'build' task is not executed for :gradle-plugin because
        # it depends on the publication of compiler-plugin 
        # and it could fail when changing version
        ./gradlew :gradle-plugin:jar
        # :docs is considered in another workflow
