name: Publish Gradle Plugin

on:
  push:
    branches:
    - release/gradle-plugin 

jobs:
  publish_gradle_plugin:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        architecture: x64
    - name: Publish Gradle Plugin
      env:
        JAVA_OPTS: -Xms512m -Xmx1024m
      run: |
        ./gradlew -Dgradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }} -Dgradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }} publishPlugins
